<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>I am a dedicated career-changer transitioning into the world of Cybersecurity after 2 years in the Massage Therapy industry. I recently completed my training with Merit America, which involved 5 months of intensive professional development, completion of the Google Cybersecurity Professional Certificate, and several hands-on technical projects. As I work towards my Google Cybersecurity Certificate, I’m gaining expertise in areas like encryption, malware analysis, and ethical hacking. My previous roles have equipped me with strong problem-solving abilities, technical aptitude, empathy and communication skills that will be valuable in the cybersecurity world.
For instance, during my time as a Massage Therapist, I built strong client relationships and learned the importance of empathy. This taught me how to create user-centric security solutions that are effective but not frustrating for end users.
In my time at Titan Fire and Security as a Fire Alarm Technician, I was responsible for ensuring the safety and functionality of fire systems. This role required great attention to detail, which will help me in cybersecurity when identifying subtle vulnerabilities in a network.
In my role as a Paraprofessional at HAS Inc., I managed the safety and well-being of developmentally disabled participants, carefully documenting incidents and collaborating with healthcare professionals by communicating clearly and calmly, even during stressful situations. This attention to communication and documentation will serve me well in cybersecurity when communicating incidents or breaches and ensuring all necessary parties are informed.
Additionally, my role at Publix has sharpened my ability to juggle multiple responsibilities at once. In cybersecurity, this ability to stay organized under pressure will be critical when responding to multiple security threats or incidents in real time.
I’m excited to bring my problem-solving skills and my passion for cybersecurity into a role where I can help protect vital information and systems."
</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://docs.google.com/document/d/1-5dnBhuCxTJsqictbYyp-sF-KlriiOdt/edit?usp=sharing&ouid=117151102595754594903&rtpof=true&sd=true" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
